nav {
    background-color: black;
    color: white;
}

.submit-button, .clear-button {
    color: white;
    background-color: black;
}

.editable {
    border: 1px solid black;
}

article {
    background-color: #ffe3d3;

}

li {
    color: black;
    background-color: white;
}

.picked-wrong {
    color: red;
}

.picked-correct {
    color: white;
}

.picked-correct-li {
    background-color: green;

}

.button {
    background-color: black;
    color: white;
}