body {
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
}

nav {
    display: grid;
    justify-items: center;
    font-size: 44px;
    padding: 25px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
    transition: 5s;

}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;

}

article {
    padding: 15px;
    margin-bottom: 5px;
}

.button {
    cursor: pointer;
    width: 60%;
    height: 60px;
    font-size: 22px;
    justify-self: center;
    -webkit-appearance: none;
    margin: 20px;
}

.details-container {
    display: grid;
    margin-bottom: 10px;
    margin-top: 2px;
    font-size: 14px;
    justify-content: space-between;
}

.date {
    grid-column: 2;
}

.delete {
    grid-column: 1;
}

form {
    margin: 25px;
    display: grid;
}

input, textarea {
    margin-bottom: 10px;
}


p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

textarea {
    font-family: 'Karla', sans-serif;
    padding: 5px;
}

/* Width 1068px or larger - Desktop */

@media only screen and (min-width: 1068px) {
    main {
        width: 60%;
        margin: 0 auto;
    }
    .submit-button, .clear-button {
        width: 30%;
    }
}

section {
    display: grid;
    justify-content: center;
    transition: 2s;
}

li {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    font-size: 28px;
    transition-duration: 2s;
}

.main-quote {
    margin: 18px;
    font-style: italic;
}

.picked-wrong {
    text-decoration: line-through;
}

.hide {
    display: none;
}

main {
    opacity: 1;
    transition: 0.7s opacity;
  }
  
 main.fade {
      opacity: 0;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
  }